@model MyWeb.Models.Projects

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Projects</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div>1)</div>
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div>2)</div>
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div>3)</div>
                <label asp-for="What_To_Do" class="control-label"></label>
                <input asp-for="What_To_Do" class="form-control" />
                <span asp-validation-for="What_To_Do" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div>4)</div>
                <label asp-for="What_Are_You_Passionate_About" class="control-label"></label>
                <input asp-for="What_Are_You_Passionate_About" class="form-control" />
                <span asp-validation-for="What_Are_You_Passionate_About" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div>5)</div>
                <label asp-for="Who_Are_You_Making_This_For" class="control-label"></label>
                <input asp-for="Who_Are_You_Making_This_For" class="form-control" />
                <span asp-validation-for="Who_Are_You_Making_This_For" class="text-danger"></span>
            </div>
            <div>6) Draw your design of your website/app screens.</div>
            <div class="form-group">
                <div>7)</div>
                <label asp-for="Why_Did_You_Decide_To_Create_This_Website_or_App" class="control-label"></label>
                <input asp-for="Why_Did_You_Decide_To_Create_This_Website_or_App" class="form-control" />
                <span asp-validation-for="Why_Did_You_Decide_To_Create_This_Website_or_App" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
