@model MyWeb.Models.Geekration

@{
    ViewData["Title"] = "Edit";
}
<style>
    
</style>
<h1>Edit</h1>

<h4>Geekration</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Passions" class="control-label"></label>
                <input asp-for="Passions" class="form-control" />
                <span asp-validation-for="Passions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hobbies" class="control-label"></label>
                <input asp-for="Hobbies" class="form-control" />
                <span asp-validation-for="Hobbies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Your_Values" class="control-label"></label>
                <input asp-for="Your_Values" class="form-control" />
                <span asp-validation-for="Your_Values" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Change" class="control-label">If I could change 1 thing in this WORLD, it would be...</label>
                <input asp-for="Change" class="form-control" />
                <span asp-validation-for="Change" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MyLife" class="control-label">If I could change 1 thing in my life it would be </label>
                <input asp-for="MyLife" class="form-control" />
                <span asp-validation-for="MyLife" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="geeky1" class="control-label">First Geeky Idea</label>
                <input asp-for="geeky1" class="form-control" />
                <span asp-validation-for="geeky1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="geeky2" class="control-label">Second Geeky Idea</label>
                <input asp-for="geeky2" class="form-control" />
                <span asp-validation-for="geeky2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
