
@{
    ViewData["Title"] = "Geeksign";
}
<style>
    h1 {
        text-align: center;
    }

    .droptarget {
        text-align: center;
        float: left;
        width: 100px;
        height: 400px;
        margin: 15px;
        padding: 10px;
        border: 1px solid #aaaaaa;
    }

    #drop {
        text-align: center;
        float: left;
        width: 500px;
        height: 400px;
        margin: 15px;
        padding: 10px;
        border: 1px solid #aaaaaa;
    }

    #dragtarget {
        text-align: center;
        margin-top: 30px;
        cursor: move;
        z-index: 10;
    }

    #sub {
        margin-top: 10px;
    }

    #dragbutton {
        margin-top: 30px;
        cursor: move;
    }

    #dragInput {
        margin-top: 30px;
        width: 80px;
    }

    #dragImage {
        margin-top: 30px;
        width: 80px;
        cursor: move;
    }

    #scroll {
        background-color: #fed9ff;
        width: 400px;
        height: 300px;
        overflow-x: hidden;
        overflow-y: auto;
        text-align: center;
        padding: 20px;
    }



    #list {
        color: white;
        display: none;
    }

    #list2 {
        color: white;
    }
</style>
<h2 id="main"></h2>

<div class="droptarget" ondragover="allowDrop(event,this.id)" id="drag">
    <p ondragstart="dragStart(this.id)" draggable="true" id="dragtarget" class="drags">Label</p>
    <p ondragstart="dragStart(this.id)" draggable="true" id="dragbutton" class="drags">Button</p>
    <p ondragstart="dragStart(this.id)" draggable="true" id="dragInput" class="drags">Text Input</p>
    <p ondragstart="dragStart(this.id)" draggable="true" id="dragImage" class="drags">Image</p>
</div>

<div ondrop="drop(this.id)" ondragover="allowDrop(event)" id="drop"></div>
<h2>Edit</h2>
<p id="demo"></p>
<p id="hello"></p>
<div id="scroll">
    <p id="text"></p>
    <p class="edits">Image web link:</p>
    <input class="edits" type="text" id="Inpsrc">
    <input class="edits" type="submit" id="subWeb" onclick="ClickWeb()">
    <br />
    <p class="edits">Text:</p>
    <input class="edits" type="text" id="inp">
    <input class="edits" type="submit" id="sub" onclick="Click()">
    <br />
    <p class="edits"> Margin Right:</p>
    <input class="edits" type="text" id="inpML">
    <input class="edits" type="submit" id="subMarL" onclick="ClickML()">
    <br />
    <p class="edits">Margin Left:</p>
    <input class="edits" type="text" id="inpMR">
    <input class="edits" type="submit" id="subMarR" onclick="ClickMR()">
    <br />
    <p class="edits">Margin Top:</p>
    <input type="text" class="edits" id="inpMT">
    <input class="edits" type="submit" id="subMarT" onclick="ClickMT()">
    <br />
    <p class="edits">Margin Bottom:</p>
    <input type="text" class="edits" id="inpMB">
    <input class="edits" type="submit" id="subMarB" onclick="ClickMB()">
    <br />
    
</div>
<p><button onclick="clickCounter()" type="button">Clear Storage</button></p>
<h2 id="was"></h2>
<div id="scroll2">
    <h2 id="list2"></h2>
    <h2 id="list"></h2>
</div>


<div id="result"></div>
<script>
    var l = "";
    var ele = "";
    var hi = "";
    var Ml = "";
    var Mt = "";
    var Mr = "";
    var Mb = "";
    var arr = [];
    var arrI = "";
    var tr = "true";
    var x = document.getElementById("scroll");

    x.style.display = "none";
    function dragStart(Chose) {
        event.dataTransfer.setData("Text", event.target.id);
        l = Chose;
    }
    function allowDrop(event) {
        event.preventDefault();
    }
    var n = 1;
    if (localStorage.getItem("n") == null) {
        n = 1;
    }
    else {
        n = parseInt(localStorage.getItem("n")) + 1;
    }

    function drop(chosen) {
        localStorage.setItem("n", n);
        //alert(localStorage.getItem("n"));
        if (l == document.getElementById("dragbutton").id) {
            cln = document.createElement("BUTTON");
            cln.innerHTML = "button";
            cln.id = "Button" + localStorage.getItem("n").toString();
        }
        else if (l == document.getElementById("dragInput").id) {
            cln = document.createElement("INPUT");
            cln.innerHTML = "Type here: ";
            cln.id = "Input" + localStorage.getItem("n").toString();
        }
        else if (l == document.getElementById("dragImage").id) {
            cln = document.createElement("IMG");
            cln.setAttribute("width", "100");
            cln.setAttribute("height", "100");
            cln.id = "Image" + localStorage.getItem("n").toString();
        }
        else {
            cln = document.createElement("P");
            cln.innerHTML = "Label";
            cln.id = "Label" + localStorage.getItem("n").toString();
        }
        var br = document.createElement("BR");
        arr.push(cln.id);
        document.getElementById("drop").appendChild(br);
        cln.ondblclick = function () { Above(this.id) };
        cln.onclick = function () { Edit(this.id) };
        cln.onmousedown = function () { rightclk(event, this.id) };
        document.getElementById("drop").appendChild(cln);
        document.getElementById("hello").innerHTML = "Click the element you want to change then type your text in the input area bellow this text. Lastly press submit. You can delete elements in your website screen by right clicking.";
        n = n + 1;
        x.style.display = "block";
        Save(cln.id);
    }
    function Edit(clicked_id) {
        if (document.getElementById(clicked_id).id != document.getElementById("dragtarget").id) {
            if (document.getElementById(clicked_id).id != document.getElementById("dragInput").id) {
                if (document.getElementById(clicked_id).id != document.getElementById("dragbutton").id) {
                    if (document.getElementById(clicked_id).id != document.getElementById("dragImage").id) {
                        hi = clicked_id;
                        document.getElementById("demo").innerHTML = document.getElementById(hi).id;
                    }
                }
            }
        }
        if (x.getElementsByClassName("edits")[4].style.display === "none") {
            document.getElementById("text").innerHTML = "Label & Button Settings: ";
            for (var d = 0; d <= 3; d++) {
                x.getElementsByClassName("edits")[d].style.display = "none";
            }
            for (var c = 3; c <= 18; c++) {
                x.getElementsByClassName("edits")[c].style.display = "block";
            }
        }
        else {
            document.getElementById("text").innerHTML = "Image Settings: ";
            for (var e = 0; e < 3; e++) {
                x.getElementsByClassName("edits")[e].style.display = "block";
            }
            for (var b = 3; b <= 5; b++) {
                x.getElementsByClassName("edits")[b].style.display = "none";
            }
        }
        ele = document.getElementById("inp").value = document.getElementById(hi).innerHTML;
        Ml = document.getElementById("inpML").value = document.getElementById(hi).style.marginLeft;
        Mr = document.getElementById("inpMR").value = document.getElementById(hi).style.marginRight;
        Mt = document.getElementById("inpMT").value = document.getElementById(hi).style.marginTop;
        Mb = document.getElementById("inpMB").value = document.getElementById(hi).style.marginBottom;
    }
    var num = 1;
    if (localStorage.getItem("num") == null) {
        num = 1;
    }
    else {
        num = parseInt(localStorage.getItem("num")) + 1;
    }


    function Click() {
        ele = document.getElementById("inp").value;
        document.getElementById(hi).innerHTML = ele;
    }
    var newItem = "";
    function Save(saved) {
        alert(saved);
        localStorage.setItem("num", num);
        newItem = document.createElement("p");
        newItem.innerHTML = document.getElementById(saved).innerHTML+ num.toString();
        newItem.style.marginLeft = document.getElementById(saved).style.marginLeft;
        newItem.style.marginRight = document.getElementById(saved).style.marginRight;
        newItem.style.marginTop = document.getElementById(saved).style.marginTop;
        newItem.style.marginBottom = document.getElementById(saved).style.marginBottom;
        //document.getElementById("list2").innerHTML = localStorage.getItem("num");
        newItem.id = localStorage.getItem("num").toString();
        if (document.getElementById(saved).id.substring(0, 1) == "B") {
            newItem.className = "btn";
        }
        if (document.getElementById(saved).id.substring(0, 2) == "In") {
            newItem.className = "inp";
        }
        if (document.getElementById(saved).id.substring(0, 2) == "Im") {
            newItem.className = "img";
        }
        alert(newItem.className);
        num = num + 1;
        document.getElementById("list").appendChild(newItem);
        saveList();
    }
    var n2 = 1;
    function Update() {
        document.getElementById("hello").innerHTML = "Click the element you want to change then type your text in the input area bellow this text. Lastly press submit. You can delete elements in your website screen by right clicking.";
        x.style.display = "block";
        var s = 0;
        var m = 1;
        var doc = "";
        for (var k = m; k <= num; k++) {
            s = s + 1;
            doc = document.getElementById(k.toString());
            if (doc != null) {
                alert(doc.className);
                if (document.getElementById(k.toString()).className == "btn") {
                    Element = document.createElement("BUTTON");
                    Element.id = "Button" + " " + s.toString();
                }
                else if (doc.className == "inp") {
                    Element = document.createElement("INPUT");
                    Element.id = "Input" + " " + s.toString();
                }
                else if (doc.className == "img") {
                    Element = document.createElement("IMG");
                    Element.setAttribute("width", "100");
                    Element.setAttribute("height", "100");
                    Element.id = "Image" + " " + s.toString();
                    Element.setAttribute("src", doc.src);
                    alert(doc.src);
                }
                
                else {
                    Element = document.createElement("P");
                    Element.id = "Label" + " " + s.toString();
                }
                Element.style.marginLeft = doc.style.marginLeft;
                Element.style.marginRight = doc.style.marginRight;
                Element.style.marginTop = doc.style.marginTop;
                Element.style.marginBottom = doc.style.marginBottom;
                n2 = n2 + 1;
                Element.innerHTML = document.getElementById(k.toString()).innerHTML;
                Element.ondblclick = function () { Above(this.id) };
                Element.onclick = function () { Edit(this.id) };
                Element.onmousedown = removeList;
                arr.push(Element.id);
                document.getElementById("drop").appendChild(Element);
            }


        }

    }
    var next = 1;
    if (localStorage.getItem("next") == null) {
        next = 0;
    }
    else {
        next = parseInt(localStorage.getItem("next"));
    }
    function removeList(clicks) {
        localStorage.setItem("next", next)
        if (event.button == 2) {
            var let = this.id;
            var letter = "";
            var obj2 = document.getElementById(this.id);
            obj2.remove();
            for (var c = 0; c < let.length; c++) {
                if (isNaN(let.substring(c, c + 1)) == false && let.substring(c, c + 1) != " ") {
                    letter = letter + let.substring(c, c + 1);
                }
            }
            next = parseInt(letter);
            document.getElementById("list").removeChild(document.getElementById(letter));
            saveList();
        }
    }
    function saveList() {
        localStorage.storedList = document.getElementById("list").innerHTML;
    }
    function loadList() {
        document.getElementById("list").innerHTML = localStorage.storedList;
        for (var i = 0; i > list.children.length; i++) {
            list.children[i] = removeItem;
        }

    }
    if (localStorage.storedList) {
        loadList();
    }


    var l = 0;
    function clickCounter() {
        localStorage.clear();
        num = 1;
        n = 1;
        document.getElementById("list").innerHTML = "";
        document.getElementById("list2").innerHTML = "";
    }
    function ClickML() {
        Ml = document.getElementById("inpML").value;
        document.getElementById(hi).style.marginLeft = Ml + "px";
        var why1 = document.getElementById(hi).id;
        var letnum1 = "";
        for (var i1 = 0; i1 < num; i1++) {
            if (isNaN(why1.substring(i1, i1 + 1)) == false && why1.substring(i1, i1 + 1) != " ") {
                letnum1 = letnum1 + why1.substring(i1, i1 + 1);
            }
        }
        document.getElementById(letnum1).style.marginLeft = Ml + "px";
        saveList();
    }
    function ClickMT() {
        Mt = document.getElementById("inpMT").value;
        document.getElementById(hi).style.marginTop = Mt + "px";
        var why2 = document.getElementById(hi).id;
        var letnum2 = "";
        for (var i2 = 0; i2 < num; i2++) {
            if (isNaN(why2.substring(i2, i2 + 1)) == false && why2.substring(i2, i2 + 1) != " ") {
                letnum2 = letnum2 + why2.substring(i2, i2 + 1);
            }
        }
        document.getElementById(letnum2).style.marginTop = Mt + "px";
        saveList();
    }
    function ClickMR() {
        Mr = document.getElementById("inpMR").value;
        document.getElementById(hi).style.marginRight = Mr + "px";
        var why3 = document.getElementById(hi).id;
        var letnum3 = "";
        for (var i3 = 0; i3 < num; i3++) {
            if (isNaN(why3.substring(i3, i3 + 1)) == false && why3.substring(i3, i3 + 1) != " ") {
                letnum3 = letnum3 + why3.substring(i3, i3 + 1);
            }
        }
        document.getElementById(letnum3).style.marginRight = Mr + "px";
        saveList();
    }
    function ClickMB() {
        Mb = document.getElementById("inpMB").value;
        document.getElementById(hi).style.marginBottom = Mb + "px";
        var why4 = document.getElementById(hi).id;
        var letnum4 = "";
        for (var i4 = 0; i4 < num; i4++) {
            if (isNaN(why4.substring(i4, i4 + 1)) == false && why4.substring(i4, i4 + 1) != " ") {
                letnum4 = letnum4 + why4.substring(i4, i4 + 1);
            }
        }
        document.getElementById(letnum4).style.marginBottom = Mb + "px";
        saveList();
    }
    function ClickWeb() {
        document.getElementById(hi).setAttribute("src", document.getElementById("Inpsrc").value);
        var why5 = document.getElementById(hi).id;
        var letnum5 = "";
        for (var i5 = 0; i5 < num; i5++) {
            if (isNaN(why5.substring(i5, i5 + 1)) == false && why5.substring(i5, i5 + 1) != " ") {
                letnum5 = letnum5 + why5.substring(i5, i5 + 1);
                
            }
        }
        document.getElementById(letnum5).src =  document.getElementById("Inpsrc").value;
        alert(document.getElementById(letnum5).src);
        saveList();
    }
    Update();
    function rightclk(event, click) {
        if (event.button == 2) {
            var obj = document.getElementById(click);
            obj.remove();
            //removeItem();
        }
    }
    var element = "";
    var newItem = "";
    function Hello() {
        newItem.ondblclick = function () { Above(this.id) };
        newItem.onmousedown = function () { rightclk(event, this.id) };
    }
    function Above(rise) {
        var list = document.getElementById("drop");
        for (var a = 0; a < arr.length; a++) {
            if (arr[a] == document.getElementById(rise).id && a != 0) {
                element = document.getElementById(rise);
                newItem = element.cloneNode(true);
                newItem.onclick = function () { Edit(this.id) };
                var el = document.getElementById(arr[a]);
                el.remove();
                arrI = arr[a - 1];
                arr[a - 1] = arr[a];
                arr[a] = arrI;
                list.insertBefore(newItem, list.childNodes[a - 1]);
                Hello();
            }
        }
    }
</script>



