@{
    ViewData["Title"] = "Create";
}
<h1>Create</h1>
<p>Passions</p>
<input type ="text" id="Passion">
<br />
<p>Hobbies</p>
<input type="text" id="Hobbies">
<br/>
<p>Your Values</p>
<input type="text" id="Your_Values">
<br/>
<input type ="submit" id="Submit" onclick="finish()">
<script>
    function finish() {
        localStorage.setItem("passion", document.getElementById("Passion").value);
        localStorage.setItem("hobbies", document.getElementById("Hobbies").value);
        localStorage.setItem("yourPassion", document.getElementById("Your_Values").value);
    }
</script>