@{
    ViewData["Title"] = "Geekration";
}
<style>
    body{
        text-align: center;
    }
</style>
<h1>Geekration</h1>
<p><button onclick="clickCounter()" id="clear" type="button">Clear Storage</button></p>
<p><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Create2">Create</a></p>
<button id="add" onclick="addnew()"type="button">Add</button>
<script>
    var user = localStorage.getItem("username");
    var div = document.createElement("div");
    div.id = user;
    div.style.height = "400px";
    div.style.padding = "10px";
    div.style.border = "1px solid #aaaaaa";
    div.style.width = "500px";
    div.style.float = "right";
    div.style.textAlign = "center";
    div.style.marginRight = "710px";
    document.body.appendChild(div);
    var num = 1;
    function clickCounter() {
        localStorage.clear();
    }
    if (localStorage.getItem("num") == null) {
        num = 1;
    }
    else {
        num = parseInt(localStorage.getItem("num")) + 1;
    }
    function addnew() {
        localStorage.setItem("num", num);
        var newitem = document.createElement("P");
        newitem.id = localStorage.getItem("num").toString();
        alert(localStorage.getItem("passion"));
        newitem.innerHTML = localStorage.getItem("passion");
        document.getElementById(user).appendChild(newitem);
        num = num + 1; 
        saveList();
    }
    function saveList() {
        localStorage.setItem(user, document.getElementById(user).innerHTML);
        alert(localStorage.getItem(user));
        updateList();
    }
    function updateList() {
        document.getElementById(user).innerHTML = localStorage.getItem(user);
    }
    if (localStorage.getItem(user)) {
        updateList();
    }

    
    
    
</script>
