@{
    ViewData["Title"] = "Geekration";
}
<style>
    body {
        text-align: center;
        display: grid;
    }
</style>
<div id="create">
    <h1>Create</h1>
    <p>Passions</p>
    <input type="text" id="Passion">
    <br />
    <p>Hobbies</p>
    <input type="text" id="Hobbies">
    <br />
    <p>Your Values</p>
    <input type="text" id="Your_Values">
    <br />
    <p>If I could change something in this world it would be:</p>
    <input type="text" id="Change1">
    <br />
    <p>Change 2</p>
    <input type="text" id="Change2">
    <br />
    <p>Change 3</p>
    <input type="text" id="Change3">
    <br />
    <input type="submit" id="Submit" onclick="addnew()">
</div>
<div id="hidegr">
    <h1>Geekration</h1>
    <p><button onclick="clickCounter()" id="clear" type="button">Clear Storage</button></p>
    <button id="createbtn" onclick="hidegeekration()">Create</button>
</div>
<div id="details">
    <h1>Details</h1>
    <h2 id="hobby&values"></h2>
    <button onclick="Back()">Back</button>
</div>
<script>
    document.getElementById("create").style.display = "none";
    document.getElementById("details").style.display = "none";
    var user = localStorage.getItem("username");
    var div = document.createElement("div");
    div.id = user;
    div.style.height = "400px";
    div.style.padding = "10px";
    div.style.border = "1px solid #aaaaaa";
    div.style.width = document.body.style.width;
    div.style.overflowX = "hidden";
    div.style.overflowY = "auto";
    document.body.appendChild(div);
    var num = 1;
    function hidegeekration() {
        document.getElementById("hidegr").style.display = "none";
        document.getElementById(user).style.display = "none";
        document.getElementById("create").style.display = "block";
        document.getElementById("hobby&values").style.display = "none";
    }
    function Back() {
        document.getElementById("hidegr").style.display = "block";
        document.getElementById(user).style.display = "block";
        document.getElementById("create").style.display = "none";
        document.getElementById("details").style.display = "none";
    }
    function clickCounter() {
        localStorage.clear();
    }
    if (localStorage.getItem("num2" + user) == null) {
        num = 1;
    }
    else {
        num = parseInt(localStorage.getItem("num2" + user)) + 1;
    }
    function details(click) {
        alert(document.getElementById(click).className);
        //document.getElementById("hobby&values").innerHTML = document.getElementById(click).className;
        //document.getElementById("hidegr").style.display = "none";
        //document.getElementById(user).style.display = "none";
        //document.getElementById("details").style.display = "block";
        //document.getElementById("create").style.display = "none";
        
    } 
    alert(user);
    var ele = "";
    var allele = "";
    function addnew() {
        localStorage.setItem("num2" + user, num.toString() + user);
        var newitem = document.createElement("P");
        newitem.id = localStorage.getItem("num2" + user).toString();
        alert(newitem.id);
        localStorage.setItem("newitem", user + document.getElementById("Passion").value+ newitem.id);
        newitem.innerHTML = document.getElementById("Passion").value;
        //Details
        var pele = document.createElement("P");
        pele.innerHTML = "Details";
        pele.onclick = function () { details(this.className) };
        pele.id = "Details" + localStorage.getItem("num2" + user);
        pele.className = localStorage.getItem("num2" + user);
        pele.style.float = "left";
        //Geeksign
        var aele = document.createElement("a");
        var gs = document.createTextNode("Geeksign"); 
        aele.append(gs);
        aele.title = "Geeksign";
        aele.href = "/Home/Geeksign";  
        newitem.appendChild(aele,pele);
        newitem.style.float = "left";
        var br = document.createElement("BR");
        newitem.className = "Hobbies: " + document.getElementById("Hobbies").value + "\n"
            + "Your Values: " + document.getElementById("Your_Values").value + "\n"
            + "If I could change something in this world it would be: " + document.getElementById("Change1").value + "\n"
            + "Change 2: " + document.getElementById("Change2").value + "\n"
            + "Change 3: " + document.getElementById("Change3").value;
        document.getElementById(user).appendChild(newitem);
        document.getElementById(user).appendChild(pele);
        document.getElementById(user).appendChild(br);
        num = num + 1;
        Back();
        saveList();
    }
    function saveList() {
        localStorage.setItem(user, document.getElementById(user).innerHTML);
        alert(localStorage.getItem(user));
    }
    function updateList() {
        document.getElementById(user).innerHTML = localStorage.getItem(user);
    }
    if (localStorage.getItem(user)) {
        updateList();
        for (var a = 1; a < num; a++) {
            document.getElementById("Details" + a.toString() + user).onclick = function () { details(this.className) };
        }
        
    }
    
</script>

