@{
    ViewData["Title"] = "Geeksign";
}
<style>
    h1 {
        text-align: center;
    }

    .droptarget {
        text-align: center;
        float: left;
        width: 100px;
        height: 400px;
        margin: 15px;
        padding: 10px;
        border: 1px solid #aaaaaa;
    }

    #drop {
        text-align: center;
        float: left;
        width: 500px;
        height: 400px;
        margin: 15px;
        padding: 10px;
        border: 1px solid #aaaaaa;
    }

    #dragtarget {
        text-align: center;
        margin-top: 30px;
        cursor: move;
        z-index: 10;
    }

    #sub {
        margin-top: 10px;
    }

    #dragbutton {
        margin-top: 30px;
        cursor: move;
    }

    #dragInput {
        margin-top: 30px;
        width: 80px;
    }

    #dragImage {
        margin-top: 30px;
        width: 80px;
        cursor: move;
    }

    #scroll {
        background-color: lightgrey;
        width: 400px;
        height: 300px;
        overflow-x: hidden;
        overflow-y: auto;
        text-align: center;
        padding: 20px;
    }

    #clear {
        display: none;
    }

    #list {
        color: white;
        display: none;
    }

    #list2 {
        color: white;
    }
</style>
<div class="droptarget" ondragover="allowDrop(event,this.id)" id="drag">
    <p ondragstart="dragStart(this.id)" draggable="true" id="dragtarget" class="drags">Label</p>
    <p ondragstart="dragStart(this.id)" draggable="true" id="dragbutton" class="drags">Button</p>
    <p ondragstart="dragStart(this.id)" draggable="true" id="dragInput" class="drags">Text Input</p>
    <p ondragstart="dragStart(this.id)" draggable="true" id="dragImage" class="drags">Image</p>
</div>

<div ondrop="drop(this.id)" ondragover="allowDrop(event)" id="drop"></div>
<h2>Edit</h2>
<p id="demo"></p>
<p id="hello"></p>
<div id="scroll">
    <p id="text"></p>
    <p class="edits">Image web link:</p>
    <input class="edits" type="text" id="Inpsrc">
    <input class="edits" type="submit" id="subWeb" onclick="ClickWeb()">
    <br />
    <p class="edits">Text:</p>
    <input class="edits" type="text" id="inp">
    <input class="edits" type="submit" id="sub" onclick="Click()">
    <br />
    <p class="edits"> Margin Right:</p>
    <input class="edits" type="text" id="inpML">
    <input class="edits" type="submit" id="subMarL" onclick="ClickML()">
    <br />
    <p class="edits">Margin Left:</p>
    <input class="edits" type="text" id="inpMR">
    <input class="edits" type="submit" id="subMarR" onclick="ClickMR()">
    <br />
    <p class="edits">Margin Top:</p>
    <input type="text" class="edits" id="inpMT">
    <input class="edits" type="submit" id="subMarT" onclick="ClickMT()">
    <br />
    <p class="edits">Margin Bottom:</p>
    <input type="text" class="edits" id="inpMB">
    <input class="edits" type="submit" id="subMarB" onclick="ClickMB()">
    <br />

</div>
<p><button onclick="clickCounter()" id="clear" type="button">Clear Storage</button></p>
<h2 id="was"></h2>
<div id="scroll2">
    <h2 id="list2"></h2>
    <h2 id="list"></h2>
</div>


<div id="result"></div>
<script>
    var l = "";
    var ele = "";
    var hi = "";
    var Ml = "";
    var Mt = "";
    var Mr = "";
    var Mb = "";
    var inpsrc = "";
    var arr = [];
    var arrI = "";
    var tr = "true";
    var x = document.getElementById("scroll");
    var storage = localStorage.getItem("newitem");
    x.style.display = "none";
    function dragStart(Chose) {
        event.dataTransfer.setData("Text", event.target.id);
        l = Chose;
    }
    function allowDrop(event) {
        event.preventDefault();
    }
    var n = 1;
    if (localStorage.getItem("n" + storage) == null) {
        n = 1;
    }
    else {
        n = parseInt(localStorage.getItem("n" + storage)) + 1;
    }

    function drop(chosen) {
        localStorage.setItem("n" + storage, n);
        if (l == document.getElementById("dragbutton").id) {
            cln = document.createElement("BUTTON");
            cln.innerHTML = "button";
            cln.id = "Button" + localStorage.getItem("n" + storage).toString();
        }
        else if (l == document.getElementById("dragInput").id) {
            cln = document.createElement("INPUT");
            cln.innerHTML = "Type here: ";
            cln.id = "Input" + localStorage.getItem("n" + storage).toString();
        }
        else if (l == document.getElementById("dragImage").id) {
            cln = document.createElement("IMG");
            cln.setAttribute("width", "100");
            cln.setAttribute("height", "100");
            cln.id = "Image" + localStorage.getItem("n" + storage).toString();
        }
        else {
            cln = document.createElement("P");
            cln.innerHTML = "Label";
            cln.id = "Label" + localStorage.getItem("n" + storage).toString();
        }
        var br = document.createElement("BR");
        arr.push(cln.id);
        document.getElementById("drop").appendChild(br);
        cln.ondblclick = function () { Above(this.id) };
        cln.onclick = function () { Edit(this.id) };
        cln.onmousedown = removeList;
        document.getElementById("drop").appendChild(cln);
        document.getElementById("hello").innerHTML = "Click the element you want to change then type your text in the input area bellow this text. Double click the elements to change the placement of them. You can delete elements in your website screen by right clicking.";
        n = n + 1;
        Save(cln.id);
    }
    function Edit(clicked_id) {
        x.style.display = "block";
        if (document.getElementById(clicked_id).id != document.getElementById("dragtarget").id) {
            if (document.getElementById(clicked_id).id != document.getElementById("dragInput").id) {
                if (document.getElementById(clicked_id).id != document.getElementById("dragbutton").id) {
                    if (document.getElementById(clicked_id).id != document.getElementById("dragImage").id) {
                        hi = clicked_id;
                        document.getElementById("demo").innerHTML = document.getElementById(hi).id;
                    }
                }
            }
        }
        //x.getElementsByClassName("edits")[4].style.display === "none"
        if (document.getElementById(clicked_id).id.substring(0, 1) == "B") {
            document.getElementById("text").innerHTML = "Label & Button Settings: ";
            for (var d = 0; d <= 3; d++) {
                x.getElementsByClassName("edits")[d].style.display = "none";
            }
            for (var c = 3; c <= 18; c++) {
                x.getElementsByClassName("edits")[c].style.display = "block";
            }
        }
        else if (document.getElementById(clicked_id).id.substring(0, 1) == "L") {
            document.getElementById("text").innerHTML = "Label & Button Settings: ";
            for (var d = 0; d <= 3; d++) {
                x.getElementsByClassName("edits")[d].style.display = "none";
            }
            for (var c = 3; c <= 18; c++) {
                x.getElementsByClassName("edits")[c].style.display = "block";
            }
        }
        else if (document.getElementById(clicked_id).id.substring(0, 1) == "I") {
            inpsrc = document.getElementById("inpsrc").value = document.getElementById(hi).src;
            document.getElementById("text").innerHTML = "Image Settings: ";
            for (var e = 0; e < 3; e++) {
                x.getElementsByClassName("edits")[e].style.display = "block";
            }
            for (var b = 3; b <= 5; b++) {
                x.getElementsByClassName("edits")[b].style.display = "none";
            }
        }
        ele = document.getElementById("inp").value = document.getElementById(hi).innerHTML;
        Ml = document.getElementById("inpML").value = document.getElementById(hi).style.marginLeft;
        Mr = document.getElementById("inpMR").value = document.getElementById(hi).style.marginRight;
        Mt = document.getElementById("inpMT").value = document.getElementById(hi).style.marginTop;
        Mb = document.getElementById("inpMB").value = document.getElementById(hi).style.marginBottom;
    }
    var num = 1;
    if (localStorage.getItem("num" + storage) == null) {
        num = 1;
    }
    else {
        num = parseInt(localStorage.getItem("num" + storage)) + 1;
    }


    function Click() {
        ele = document.getElementById("inp").value;
        document.getElementById(hi).innerHTML = ele;
        var why6 = document.getElementById(hi).id;
        var letnum6 = "";
        for (var i6 = 0; i6 < why6.length; i6++) {
            if (isNaN(why6.substring(i6, i6 + 1)) == false && why6.substring(i6, i6 + 1) != " ") {
                letnum6 = letnum6 + why6.substring(i6, i6 + 1);
            }
        }
        document.getElementById(letnum6).innerHTML = ele;
        saveList();
    }
    var newItem = "";
    function Save(saved) {

        localStorage.setItem("num" + storage, num);
        newItem = document.createElement("p");
        newItem.style.marginLeft = document.getElementById(saved).style.marginLeft;
        newItem.style.marginRight = document.getElementById(saved).style.marginRight;
        newItem.style.marginTop = document.getElementById(saved).style.marginTop;
        newItem.style.marginBottom = document.getElementById(saved).style.marginBottom;
        //document.getElementById("list2").innerHTML = localStorage.getItem("num");
        newItem.id = localStorage.getItem("num" + storage).toString();
        if (document.getElementById(saved).id.substring(0, 1) == "B") {
            newItem.className = "btn";
            newItem.innerHTML = document.getElementById(saved).innerHTML;
        }
        else if (document.getElementById(saved).id.substring(0, 2) == "In") {
            newItem.innerHTML = document.getElementById(saved).innerHTML;
            newItem.className = "inp";
        }
        else if (document.getElementById(saved).id.substring(0, 2) == "Im") {
            newItem.className = "img";
            newItem.src = document.getElementById(saved).src;
        }
        else {
            newItem.innerHTML = document.getElementById(saved).innerHTML;
        }

        num = num + 1;
        document.getElementById("list").appendChild(newItem);
        saveList();
    }
    var n2 = 1;
    function Update() {
        document.getElementById("hello").innerHTML = "Click the element you want to change then type your text in the input area bellow this text. Double click the elements to change the placement of them. You can delete elements in your website screen by right clicking.";
        x.style.display = "none";
        var s = 0;
        var m = 0;
        var doc = "";
        for (var k = 0; k <= num; k++) {
            doc = document.getElementById("list").childNodes[k];

            if (doc != null) {

                if (doc.className == "btn") {
                    Element = document.createElement("BUTTON");
                    Element.id = "Button" + "" + doc.id;
                }
                else if (doc.className == "inp") {
                    Element = document.createElement("INPUT");
                    Element.id = "Input" + "" + doc.id;
                }
                else if (doc.className == "img") {
                    Element = document.createElement("IMG");
                    Element.setAttribute("width", "100");
                    Element.setAttribute("height", "100");
                    Element.id = "Image" + "" + doc.id;
                    if (doc.innerHTML == "") {
                        Element.src = "http://cdn.onlinewebfonts.com/svg/img_94880.png";
                    }
                    else {
                        Element.src = doc.innerHTML;
                    }

                }

                else {
                    Element = document.createElement("P");
                    Element.id = "Label" + " " + doc.id;
                }
                Element.style.marginLeft = doc.style.marginLeft;
                Element.style.marginRight = doc.style.marginRight;
                Element.style.marginTop = doc.style.marginTop;
                Element.style.marginBottom = doc.style.marginBottom;
                n2 = n2 + 1;
                Element.innerHTML = doc.innerHTML;
                Element.ondblclick = function () { Above(this.id) };
                Element.onclick = function () { Edit(this.id) };
                Element.onmousedown = removeList;
                arr.push(Element.id);
                document.getElementById("drop").appendChild(Element);
            }


        }

    }
    var next = 1;
    if (localStorage.getItem("next" + storage) == null) {
        next = 0;
    }
    else {
        next = parseInt(localStorage.getItem("next" + storage));
    }
    function removeList(clicks) {
        localStorage.setItem("next" + storage, next)
        if (event.button == 2) {
            var let = this.id;
            var letter = "";
            var obj2 = document.getElementById(this.id);
            obj2.remove();
            for (var c = 0; c < let.length; c++) {
                if (isNaN(let.substring(c, c + 1)) == false && let.substring(c, c + 1) != " ") {
                    letter = letter + let.substring(c, c + 1);
                }
            }
            next = parseInt(letter);
            document.getElementById("list").removeChild(document.getElementById(letter));
            saveList();
        }
    }



    function saveList() {
        localStorage.setItem(storage, document.getElementById("list").innerHTML);
    }
    function loadList() {
        document.getElementById("list").innerHTML = localStorage.getItem(storage);
        for (var i = 0; i > list.children.length; i++) {
            list.children[i] = removeItem;
        }

    }
    if (localStorage.getItem(storage)) {
        loadList();
    }


    var l = 0;
    function clickCounter() {
        localStorage.clear();
        num = 1;
        n = 1;
        document.getElementById("list").innerHTML = "";
        document.getElementById("list2").innerHTML = "";
    }
    function ClickML() {
        Ml = document.getElementById("inpML").value;
        document.getElementById(hi).style.marginLeft = Ml + "px";
        var why1 = document.getElementById(hi).id;
        var letnum1 = "";
        for (var i1 = 0; i1 < why1.length; i1++) {
            if (isNaN(why1.substring(i1, i1 + 1)) == false && why1.substring(i1, i1 + 1) != " ") {
                letnum1 = letnum1 + why1.substring(i1, i1 + 1);
            }
        }
        document.getElementById(letnum1).style.marginLeft = Ml + "px";
        saveList();
    }
    function ClickMT() {
        Mt = document.getElementById("inpMT").value;
        document.getElementById(hi).style.marginTop = Mt + "px";
        var why2 = document.getElementById(hi).id;
        var letnum2 = "";
        for (var i2 = 0; i2 < why2.length; i2++) {
            if (isNaN(why2.substring(i2, i2 + 1)) == false && why2.substring(i2, i2 + 1) != " ") {
                letnum2 = letnum2 + why2.substring(i2, i2 + 1);

            }
        }
        document.getElementById(letnum2).style.marginTop = Mt + "px";
        saveList();
    }
    function ClickMR() {
        Mr = document.getElementById("inpMR").value;
        document.getElementById(hi).style.marginRight = Mr + "px";
        var why3 = document.getElementById(hi).id;
        var letnum3 = "";
        for (var i3 = 0; i3 < why3.length; i3++) {
            if (isNaN(why3.substring(i3, i3 + 1)) == false && why3.substring(i3, i3 + 1) != " ") {
                letnum3 = letnum3 + why3.substring(i3, i3 + 1);
            }
        }
        document.getElementById(letnum3).style.marginRight = Mr + "px";
        saveList();
    }
    function ClickMB() {
        Mb = document.getElementById("inpMB").value;
        document.getElementById(hi).style.marginBottom = Mb + "px";
        var why4 = document.getElementById(hi).id;
        var letnum4 = "";
        for (var i4 = 0; i4 < why4.length; i4++) {
            if (isNaN(why4.substring(i4, i4 + 1)) == false && why4.substring(i4, i4 + 1) != " ") {
                letnum4 = letnum4 + why4.substring(i4, i4 + 1);
            }
        }
        document.getElementById(letnum4).style.marginBottom = Mb + "px";
        saveList();
    }
    function ClickWeb() {
        inpsrc = document.getElementById("Inpsrc").value;
        document.getElementById(hi).src = inpsrc;
        var why5 = document.getElementById(hi).id;
        var letnum5 = "";
        for (var i5 = 0; i5 < why5.length; i5++) {
            if (isNaN(why5.substring(i5, i5 + 1)) == false && why5.substring(i5, i5 + 1) != " ") {
                letnum5 = letnum5 + why5.substring(i5, i5 + 1);

            }
        }

        document.getElementById(letnum5).innerHTML = inpsrc;

        saveList();

    }
    Update();
    function rightclk(event, click) {
        if (event.button == 2) {
            obj.remove();
            //removeItem();            var obj = document.getElementById(click);

        }
    }
    var element = "";
    var newItem3 = "";
    var newItem2 = "";
    var element2 = "";
    function Hello(nI) {
        nI.ondblclick = function () { Above(this.id) };
        nI.onmousedown = function () { rightclk(event, this.id) };
        nI.onclick = function () { Edit(this.id) };
    }
    function Above(rise) {
        var drop = document.getElementById("drop");
        var list = document.getElementById("list");
        for (var a = 0; a < arr.length; a++) {
            if (arr[a] == document.getElementById(rise).id && a != 0) {
                element = document.getElementById(rise);
                newItem3 = element.cloneNode(true);
                var el = document.getElementById(arr[a]);
                var why7 = document.getElementById(rise).id;
                var letnum7 = "";
                for (var i7 = 0; i7 < why7.length; i7++) {
                    if (isNaN(why7.substring(i7, i7 + 1)) == false && why7.substring(i7, i7 + 1) != " ") {
                        letnum7 = letnum7 + why7.substring(i7, i7 + 1);

                    }
                }
                var el2 = document.getElementById(letnum7);
                element2 = document.getElementById(letnum7);
                newItem2 = element2.cloneNode(true);
                newItem2.id = letnum7;
                el.remove();
                el2.remove();
                arrI = arr[a - 1];
                arr[a - 1] = arr[a];
                arr[a] = arrI;
                list.insertBefore(newItem2, list.childNodes[a - 1]);
                drop.insertBefore(newItem3, drop.childNodes[a - 1]);
                saveList();
                Hello(newItem3);
                Hello(newItem2);
            }
        }
    }
</script>


