@{
    ViewData["Title"] = "Geekration";
}
<style>
    body {
        text-align: center;
    }
</style>
<div id="create">
    <h1>Create</h1>
    <p>Passions</p>
    <input type="text" id="Passion">
    <br />
    <p>Hobbies</p>
    <input type="text" id="Hobbies">
    <br />
    <p>Your Values</p>
    <input type="text" id="Your_Values">
    <br />
    <input type="submit" id="Submit" onclick="addnew()">
</div>
<div id="hidegr">
    <h1>Geekration</h1>
    <p><button onclick="clickCounter()" id="clear" type="button">Clear Storage</button></p>
    <button id="createbtn" onclick="hidegeekration()">Create</button>
</div>
<script>
    document.getElementById("create").style.display = "none";
    var user = localStorage.getItem("username");
    var div = document.createElement("div");
    div.id = user;
    div.style.height = "400px";
    div.style.padding = "10px";
    div.style.border = "1px solid #aaaaaa";
    div.style.width = "1600px";
    div.style.float = "right";
    div.style.marginRight = "160px";
    document.body.appendChild(div);
    var num = 1;
    function hidegeekration() {
        document.getElementById("hidegr").style.display = "none";
        document.getElementById(user).style.display = "none";
        document.getElementById("create").style.display = "block";
    }
    function clickCounter() {
        localStorage.clear();
    }
    if (localStorage.getItem("num2"+user) == null) {
        num = 1;
    }
    else {
        num = parseInt(localStorage.getItem("num2"+user)) + 1;
    }
    alert(user);
    function details() {

    }
    var ele = "";
    var allele = "";
    function addnew() {
        localStorage.setItem("num2" + user, num.toString()+user);
        var pele = document.createElement("P");
        pele.innerHTML = "Details";
        pele.onclick = function () { details() };
        var newitem = document.createElement("P");
        newitem.id = localStorage.getItem("num2"+user);
        newitem.innerHTML = document.getElementById("Passion").value+""+pele;
        newitem.style.float = "left";
        var br = document.createElement("BR");
        document.getElementById(user).appendChild(newitem);
        document.getElementById(user).appendChild(br);
        newitem.name0 = document.getElementById("Hobbies").value;
        newitem.name1 = document.getElementById("Your_Values").value;
        alert(newitem.name0);
        num = num + 1;
        document.getElementById("hidegr").style.display = "block";
        document.getElementById(user).style.display = "block";
        document.getElementById("create").style.display = "none";
        saveList();
    }
    function saveList() {
        localStorage.setItem(user, document.getElementById(user).innerHTML);
        alert(localStorage.getItem(user));
        updateList();
    }
    function updateList() {
        document.getElementById(user).innerHTML = localStorage.getItem(user);
    }
    if (localStorage.getItem(user)) {
        updateList();
    }



</script>