@{
    ViewData["Title"] = "Geekration";
}
<style>
    body {
        text-align: center;
        display: grid;
    }
</style>
<h2 id="plsign">Sorry You Will Not Be Able To Acess This Page Until You Sign In Or Sign Up</h2>
<div id="Geekration">
    <div id="create">
        <h1>Create</h1>
        <p>Passions</p>
        <input type="text" id="Passion">
        <br />
        <p>Hobbies</p>
        <input type="text" id="Hobbies">
        <br />
        <p>Your Values</p>
        <input type="text" id="Your_Values">
        <br />
        <p>If I could change something in this world it would be:</p>
        <input type="text" id="Change1">
        <br />
        <p>Change 2</p>
        <input type="text" id="Change2">
        <br />
        <p>Change 3</p>
        <input type="text" id="Change3">
        <br />
        <input type="submit" id="Submit" onclick="addnew()">
        <br/>
        <button onclick="Back()">Back</button>
    </div>
    <div id="hidegr">
        <h1>Geekration</h1>
        <p><button onclick="clickCounter()" id="clear" type="button">Clear Storage</button></p>
        <button id="createbtn" onclick="hidegeekration()">Create</button>
    </div>
    <div id="details">
        <h1>Details</h1>
        <h2 id="hobby&values"></h2>
        <button onclick="Back()">Back</button>
    </div>
</div>
<script>
    //The containter
    document.getElementById("create").style.display = "none";
    document.getElementById("details").style.display = "none";
    var user = localStorage.getItem("username");
    var div = document.createElement("div");
    div.id = user;
    div.style.height = "400px";
    div.style.padding = "10px";
    div.style.border = "1px solid #aaaaaa";
    div.style.width = document.body.style.width;
    div.style.overflowX = "hidden";
    div.style.overflowY = "auto";
    document.body.appendChild(div);
    if (localStorage.getItem("username") == null) {
        document.getElementById("Geekration").style.display = "none";
        document.getElementById(user).style.display = "none";
        document.getElementById("plsign").style.display = "block";
    }
    else {
        document.getElementById("plsign").style.display = "none";
    }
    var num = 1;
    //Hide the list of geekrations
    function hidegeekration() {
        document.getElementById("hidegr").style.display = "none";
        document.getElementById(user).style.display = "none";
        document.getElementById("create").style.display = "block";
        document.getElementById("hobby&values").style.display = "none";
    }
    //Hide create
    function Back() {
        document.getElementById("hidegr").style.display = "block";
        document.getElementById(user).style.display = "block";
        document.getElementById("create").style.display = "none";
        document.getElementById("details").style.display = "none";
    }
    function clickCounter() {
        localStorage.clear();
    }
    if (localStorage.getItem("num2" + user) == null) {
        num = 1;
    }
    else {
        num = parseInt(localStorage.getItem("num2" + user)) + 1;
    }
    function details(click) {
        alert(document.getElementById(click).className);
        
    } 
    var ele = "";
    var allele = "";
    function addnew() {
        localStorage.setItem("num2" + user, num.toString() + user);
        //Container for details and geeksign
        var newitem = document.createElement("P");
        newitem.id = localStorage.getItem("num2" + user).toString();
        localStorage.setItem("newitem", document.getElementById("Passion").value+ newitem.id);
        newitem.innerHTML = document.getElementById("Passion").value;
        //Details
        var pele = document.createElement("P");
        pele.innerHTML = "Details || ";
        pele.onclick = function () { details(this.className) };
        pele.id = "Details" + localStorage.getItem("num2" + user);
        pele.className = localStorage.getItem("num2" + user);
        pele.style.float = "right";
        pele.style.marginLeft = "100px";
        //Geeksign
        var aele = document.createElement("a");
        var gs = document.createTextNode("Geeksign"); 
        aele.append(gs);
        aele.title = "Geeksign";
        aele.href = "/Home/AllGeeksignPg";  
        newitem.style.float = "left";
        var br = document.createElement("BR");
        //Details Info
        newitem.className = "Hobbies: " + document.getElementById("Hobbies").value + "\n"
            + "Your Values: " + document.getElementById("Your_Values").value + "\n"
            + "If I could change something in this world it would be: " + document.getElementById("Change1").value + "\n"
            + "Change 2: " + document.getElementById("Change2").value + "\n"
            + "Change 3: " + document.getElementById("Change3").value;
        //newitem design
        //newitem.style.border = "outset";
        //Put everything together
        document.getElementById(user).appendChild(newitem);
        pele.appendChild(aele);
        newitem.appendChild(pele);
        document.getElementById(user).appendChild(br);
        num = num + 1;
        Back();
        saveList();
    }
    function saveList() {
        localStorage.setItem(user, document.getElementById(user).innerHTML);
    }
    function updateList() {
        document.getElementById(user).innerHTML = localStorage.getItem(user);
    }
    if (localStorage.getItem(user)) {
        updateList();
        for (var a = 1; a < num; a++) {
            document.getElementById("Details" + a.toString() + user).onclick = function () { details(this.className) };
            document.getElementById("Details" + a.toString() + user).style.float = "left";

        }
        
    }
    
</script>

