@{
    ViewData["Title"] = "Home Page";
}
<style>
    h1 {
      
    }
</style>
<div class="text-center">
    <h1 class="display-4">Geeky Wired</h1>
</div>
<img src="https://raisevegan.com/wp-content/uploads/2019/10/Savannah-Cat-1024x683.jpg" alt="HTML5 Icon" >
<h2>Hi</h2>
<h2></h2>

