@{
    ViewData["Title"] = "Home Page";
}
<style>
    h1 {
        background-color: black;
        color: white;
    }
</style>
<div class="text-center">
    <h1 class="display-4">The Geekers</h1>
</div>