@{
    ViewData["Title"] = "Sign Up";
}
<h1>@ViewData["Title"]</h1>

<input type ="text" id="text">
<input type ="submit" onclick="Submit()">
<script>
    var n = 1;
    if (localStorage.getItem("n") == null) {
        n = 1;
    }
    else {
        n = parseInt(localStorage.getItem("n"))+1;
    }
    function Submit() {
        localStorage.setItem("username", document.getElementById("text").value);
    }
</script>