@{
    ViewData["Title"] = "Sign Up";
}
<h1>@ViewData["Title"]</h1>

<input type ="text" id="text">
<br/>
<input type="text" id="password">
<input type ="submit" onclick="Submit()">
<script>
    var n = 1;
    if (localStorage.getItem("n") == null) {
        n = 1;
    }
    else {
        n = parseInt(localStorage.getItem("n"))+1;
    }
    var user = "";
    function Check() {
        localStorage.setItem("username", document.getElementById("text").value);
        user = localStorage.getItem("username");
        if (localStorage.getItem("password" + user) != null) {
            alert("NO");
        }
    }
    document.getElementById("text").addEventListener("keyup", Check);
    function Submit() {
        localStorage.setItem("username", document.getElementById("text").value);
        localStorage.setItem("password" + user, document.getElementById("password").value);
        alert(document.getElementById("password").value);
    }
</script>