@{
    ViewData["Title"] = "Sign In";
}
<h1>@ViewData["Title"]</h1>
<h3>Username</h3>
<input type ="text" id="text">
<br/>
<h3>Password</h3>
<input type="text" id="password">
<input type ="submit" onclick="Submit()">
<script>
    var n = 1;
    if (localStorage.getItem("n") == null) {
        n = 1;
    }
    else {
        n = parseInt(localStorage.getItem("n"))+1;
    }
    var user = "";
    function Check() {
        localStorage.setItem("username", document.getElementById("text").value);
        user = localStorage.getItem("username");
    }
    document.getElementById("text").addEventListener("keyup", Check);
    function Submit() {
        localStorage.setItem("username", document.getElementById("text").value);
        if (document.getElementById("password").value != localStorage.getItem("password" + user)) {
            alert("STOP");
        }
        else {
            alert("YES");
            localStorage.setItem("password" + user, document.getElementById("password").value);
            alert(document.getElementById("password").value);
        }
    }
</script>